<h1> <%=  @shopping_item.name %> </h1>
<h2> Preço: <%=  @shopping_item.price %> </h2>
<p> <%=  @shopping_item.description %> </p>
<% if @shopping_item.acquired == true %>
  <p> Comprado </p>
<% else %>
  <p> Não comprado </p>
<% end  %>
